@using QuestionsWeb.Domain.Entities.Identity
@model IEnumerable<QuestionsWeb.Models.Person>

<section class="layout-pt-lg layout-pb-md">
    
    <div data-anim-wrap class="container">
        
        <vc:temperature location="London"></vc:temperature>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Комментарий</th>
                @if (User.IsInRole(Role.Adinistrators))
                {
                    <th></th>
                }
            </tr>
            </thead>

            <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>
                        <a asp-controller="Person" 
                           asp-action="Details"
                           asp-route-Id="@person.Id">
                            @person.LastName
                        </a>
                    </td>
                    <td>@person.Name</td>
                    <td>@person.Description</td>
                    @if (User.IsInRole(Role.Adinistrators))
                    {
                        <td>
                            <a asp-action="Delete" asp-route-id="@person.Id" class="text-danger">del.</a>
                        </td>
                    }
                </tr>
            }
            </tbody>

        </table>

    </div>

</section>
