@model IEnumerable<QuestionsWeb.Models.Person>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Комментарий</th>
            <th>Test</th>
        </tr>
    </thead>

    <tbody>
        @{
            var index = 0;
        }
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Id</td>
                <td>
                    <a href="/person/details/@person.Id">@person.LastName</a>
                </td>
                <td>@person.Name</td>
                <td>@person.Description</td>
                <td>@(index += 7)</td>
            </tr>
        }
    </tbody>

</table>
